.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
  
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.meals-spinner{
  margin: auto 50%;
}
.input{
  height: 30px;
  width: 400px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 14px;
  background-color: rgb(180, 170, 170);
  text-align: center;
}
@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
