
* {
  padding: 0;
  margin: 0;
  
}
html {
  padding: 0;
  margin: 0;
  font-size: 90%;
  overflow: scroll;
  height: 400rem;
  position: relative;
}


.cta-form {
  background-color: grey;
  padding: 2rem;
  border-radius: 1rem;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
}
.btn--form {
  width:13rem;
  justify-self: center;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input {
  display: auto;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
}

.btn--form{
  background-color: #45260a;
  color: #fdf2e9;
  padding: 1.2rem;
  margin-top: 1.2rem;
}



